<div class="jumbotron m-4">
    <h2 class="display-5">Información</h2>
    <hr class="my-4">
    <div class="row ml-2 mr-5">
        <p>Este proyecto busca aplicar los conocimientos adquiridos durante el segundo parcial, 
            utilizando dos graficas para representar la información de ventas presente en el 
            cubo de datos Northwind.
        </p>
        <p>Las graficas consisten en:</p>
    </div>
    <div class="row ml-2 mr-5">
        <ul>
            <li> Gráfica Pastel Ventas </li>
            <li> Histograma de Ventas </li>
        </ul>
    </div>
</div>
